.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.products {
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.products img {
    height: 300px;
    width: 300px;
}