.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.products {
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.products img {
    height: 300px;
    width: 300px;
}

.top-container {
    position: fixed;
    height: 7vh;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.scroll-progress-tracking-container {
    position: fixed;
    top: 7vh;
    height: 5px;
    width: 100%;
    background-color: #215aea;
}

.current-progress-bar {
    height: 5px;
    background-color: #e331d8;
}